:root{
    --clrHeader: #1d1e20;
}




body, ul, li p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

body{
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    max-width: 100%;
    display: block;
}

img:hover{
    border: 2px solid blue;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--clrHeader);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
}

.header nav{
    margin-right: 40px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}
.header ul div{
    position: absolute;
    background: var(--clrHeader);
    color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
.header ul div:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top:-10px;
    background: var(--clrHeader);
    transform: rotate(45deg);
    z-index: -1;
}

.dbSobreSite{
    right: 255px;
    top: 100px;
    opacity: 0;
}
.dbSobreDev{
    right: 125px;
    top: 100px;
    opacity: 0;
}
.dbContatos{
    right: 60px;
    top: 100px;
    opacity: 0;
    width: 230px;
}
.dbContatos:before{
    right: 35px;
}

.header ul #sobreSite:hover ~ .dbSobreSite{
    transition: all 0.5s ease;
    opacity: 1;
}
.header ul #sobreDev:hover ~ .dbSobreDev{
    transition: all 0.5s ease;
    opacity: 1;
}
.header ul #contatos:hover ~ .dbContatos{
    transition: all 0.5s ease;
    opacity: 1;
}

/* CSS FLEXBOX 1 */

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}

/* CSS GRID 1*/

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    display: block;
}

@media (max-width:600px){
    .grid1{
        grid-template-columns: 1fr 1fr;
    }
    .grid1 > div:nth-child(n + 4){
        display: block;
    }
    .grid1 > div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}

/*CSS GRID 2*/

.grid2{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.sidebar > div{
    margin-bottom: 10px;
}

@media (max-width: 600px){
    .grid2{
        grid-template-columns: 1fr;
    }
    .sidebar{
        display: flex;
        overflow: scroll;
    }
    .sidebar > div{
        flex: 1 0 200px;
        margin: 0 10px;
    }
}

/*CSS Grid 3*/

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.grid3-item:nth-child(1){
    grid-row: 1 / 3;

}

.grid3-item img{
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: end;
}
.grid3-item{
    display: grid;
}

.grid3-item p{
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}